<!-- <h3>Password reset complete</h3>

<p>Your password has been set. You may go ahead and log in now.</p>

<a href="/">Log in</a> -->

<!-- <h3>Password reset sent</h3>


<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p> -->



<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"/>
   
	<title></title>
</head>
<body>
	<div class ="container">
	<div class="row">
		<div class="col-6 mx-auto mt-5">
		
<h1 class="text-center mb-5">Password reset complete</h1>

<div class="alert alert-info mb-5">Your password has been set. You may go ahead and log in now.</div>
<center><div >
                <a style="border:1px solid #ccc;padding: 5px 20px 15px 20px;"href ="{% url 'home' %}">
                   Log-in</a>
              </div></center>
 


			
</div>
</div>
</div>

</body>
</html>
 

